#grand_parent{
    /* position: relative; */
    /* position default is relative */
    border: solid black;
}

#h1_text{
    margin-left: 115px;
    margin-top: 44px;
    position: absolute; 
    z-index: 1;
}

#parent1{
    display: flex;
    margin-left: 80px;
}

#parent2{
    display: flex;
    margin-left: 80px;
}

#first_div{
    width: 50px;
    height: 50px;
    background-color: red;
    z-index: 2;
    
}

#second_div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    z-index: 2;
}

#third_div{
    width: 50px;
    height: 50px;
    background-color: blue;
    z-index: 2;
    
}

#fourth_div{
    width: 50px;
    height: 50px;
    background-color: green;
    z-index: 2;
}

#grand_parent:hover>#parent2>#fourth_div{
    transition: transform 1s linear;
    transform: rotate(90deg);
    transform-origin: bottom right;
}

#grand_parent:hover>#parent2>#third_div{
    transition: transform 1s linear;
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

#grand_parent:hover>#parent1>#first_div{
    transition: transform 1s linear;
    transform: rotate(90deg);
    transform-origin: top left;
}

#grand_parent:hover>#parent1>#second_div{
    transition: transform 1s linear;
    transform: rotate(-90deg);
    transform-origin: top right;
}
